* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Button Back To Top */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 100;
}

#btn-back-to-top i {
  color: #00acc1;
  font-size: 50px;
  transition: all .3s ease-in-out;
}

#btn-back-to-top i:hover {
  color: #036969;
  box-shadow: 0px 0px 20px #00acc1;
  border-radius: 50%;
}

/* Heading Section Start */
/* NavBar CSS */
.nav-color {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  right: 0px;
}

.stiky-nav {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 172, 193, .6);
}

.nav-item {
  margin-right: 20px;
  transition: all .3s ease-in-out;
}

.nav-item a {
  color: #FFFFFF;
  transition: all .3s ease-in-out;
}

.nav-item a:hover {
  color: #000000;
  font-weight: 600;
}

.navbar .nav-item .nav-link.active:hover {
  color: #FFFFFF;
}

/* Heading Section End */

/* Main Section Start */
/* FAQ Section */
.faq-banner {
  height: 100vh;
}

.faq-img img {
  height: 100vh;
  width: 100%;
}

.faq-img {
  position: relative;
}

.faq-content {
  position: absolute;
  top: 55%;
  left: 45%;
}

.faq-content h1 {
  color: #574335;
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 10px;
}

.faq-content p {
  color: #7C5A47;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 70px;
}

.faq-content a {
  display: block;
  background-color: #D5C4BC;
  text-decoration: none;
  color: #574335;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 800;
  margin-left: 530px;
  transition: all .3s ease-in-out;
}

.faq-content a:hover {
  color: #00acc1;
  border-bottom: 4px solid #00acc1;
}

.faq-content a i {
  font-size: 35px;
  margin-right: 10px;
}

/* Collapse Section */
.collapse-section {
  padding: 100px 0px;
  height: 100vh;
  background: #e3f2fd;
}

.collapse-title h1 {
  color: #00acc1;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 50px;
}

.collapsible-container {
  width: 100%;
  max-width: 700px;
  margin-left: 400px;
}

.collapsible-section {
  margin-bottom: 20px;
}

.collapsible-header {
  background-color: #f1f1f1;
  cursor: pointer;
  padding: 10px;
  border: 2px solid #ccc;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  font-size: 20px;
  font-weight: 600;
  color: #323450;
  transition: all .3s ease-in-out;
}

.collapsible-header:hover {
  border: 2px solid #00acc1;
  border-bottom: none;
}

.collapsible-header i {
  transition: all .3s ease-in-out;
}

.collapsible-header:hover.collapsible-header i {
  color: #00acc1;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  border: 2px solid #ccc;
  border-top: none;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  border-radius: 0px 0px 10px 10px;
}

.collapsible-content p {
  margin: 10px 0;
  padding-bottom: 10px;
  color: #7F7F7F;
  font-size: 18px;
  font-weight: 500;
}

.collapsible-content.active {
  padding: 10px;
}

.collapsible-content i {
  transition: all .3s ease-in-out;
}

.collapsible-content:hover.collapsible-content i {
  color: #00acc1;
}

/* Main Section End */

/* Footer Section Start */
.footer-section {
  background-color: rgba(0, 172, 193, .6);
  padding-top: 50px;
}

.footer-1 img {
  margin-top: 10px;
  margin-bottom: 80px;
}

.footer-1-icon i {
  background-color: #87DBDA;
  color: #323450;
  font-size: 30px;
  padding: 10px;
  margin: 5px;
  clip-path: circle(45.0% at 50% 50%);
}

.footer-1-icon .fb i {
  transition: all .3s ease-in-out;
}

.footer-1-icon .fb i:hover {
  background-color: #0866FF;
  color: #FFFFFF;
}

.footer-1-icon .ig i {
  transition: all .3s ease-in-out;
}

.footer-1-icon .ig i:hover {
  background-color: #F42E52;
  color: #FFFFFF;
}

.footer-1-icon .li i {
  transition: all .3s ease-in-out;
}

.footer-1-icon .li i:hover {
  background-color: #4E90D3;
  color: #FFFFFF;
}

.footer-1-icon .gh i {
  transition: all .3s ease-in-out;
}

.footer-1-icon .gh i:hover {
  background-color: #16181F;
  color: #FFFFFF;
}

.footer-2 {
  margin-left: 70px;
}

.footer-2 h3,
.footer-3 h3,
.footer-4 h3 {
  font-size: 22px;
  font-weight: 700;
  color: #323450;
  margin: 0px 0px 20px 30px;
}

.footer-2 ul li,
.footer-3 ul li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-2 ul li a,
.footer-3 ul li a {
  text-decoration: none;
  color: #323450;
  font-size: 16px;
  font-weight: 600;
  transition: all .5s ease;
}

.footer-2 ul li a:hover,
.footer-3 ul li a:hover {
  color: #FFFFFF;
}

.foot-box {
  display: flex;
  width: 90%;
  border-radius: 10px;
  background-color: #87DBDA;
  margin: 0px 0px 20px 30px;
  transition: all .5s ease;
}

.foot-box:hover {
  background-color: #FFFFFF;
}

.foot-box:hover.foot-box i,
.foot-box:hover.foot-box p,
.foot-box:hover.foot-box h6 {
  transition: all .5s ease-in-out;
}

.foot-box:hover.foot-box i,
.foot-box:hover.foot-box p,
.foot-box:hover.foot-box h6 {
  color: #00acc1;
}

.foot-box i {
  color: #323450;
  font-size: 40px;
  margin: 20px 20px 25px 30px;
}

.foot-box-content p {
  margin: 20px 20px 0px 0px;
  color: #323450;
  font-size: 14px;
  font-weight: 600;
}

.foot-box-content h6 {
  margin: 0px 20px 25px 0px;
  color: #323450;
  font-size: 20px;
  font-weight: 700;
}

.footer-last-content {
  text-align: center;
  border-top: 1px solid #323450;
  margin-top: 10px;
}

.footer-last-content p {
  color: #323450;
  font-size: 14px;
  margin: 20px 0px;
}

#date {
  margin-right: 20%;
}

#time {
  margin-left: 20%;
}

/* Footer Section End */